<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body>



    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(~/assets/images/heading-1-1920x500.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h4>about us</h4>
                        <h2>our company</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="best-features about-features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>The company with high values</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-image">
                        <img src="~/assets/images/about-1-570x350.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>Thank you for your trust</h4>
                        <p>Our values aren’t just words – they’re the way we do things at e-Autosalloni. Our brands are powered by journalists and content creators who live in their specialist sectors. Many are award-winners. Breaking the news that matters today, they lead the thinking that will define tomorrow.</p>
                        <ul class="social-icons">
                            <li><a href="https://www.ubt-uni.net/sq/ballina/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="team-members">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   @* <div class="section-heading">
                        <h2>Come and be convinced of our quality.</h2>
                    </div>*@

                    <h5>Our Motto</h5>

                    <p>"We win because our people do. Everything is underpinned by our values, chief among which is integrity – without which we are nothing."</p>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
