<ul class="sidebar-menu" data-widget="tree">

    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a asp-area="Admin" asp-controller="AdminHome" asp-action="Index"><i class="fa fa-link"></i> <span>Dashboard</span></a></li>

    <li class="active">
        <a asp-area="Admin" asp-controller="Vehicle" asp-action="Index"><i class="fa fa-link"></i> <span>Vehicle</span></a>
    </li>
    <li class="active">
        <a asp-area="Admin" asp-controller="AdminHome" asp-action="Dashboard"><i class="fa fa-link"></i> <span>Dashboard</span></a>
    </li>
    <li class="active">
        <a asp-area="Admin" asp-controller="Brand" asp-action="Index"><i class="fa fa-link"></i> <span>Brand</span></a>
    </li>
    <li class="active">
        <a asp-area="Admin" asp-controller="Category" asp-action="Index"><i class="fa fa-link"></i> <span>Category</span></a>
    </li>




    @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
        </li>*@
    @*<li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i> <span>Multilevel</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#">Link in level 2</a></li>
                <li><a href="#">Link in level 2</a></li>
            </ul>
        </li>*@
</ul>
